/* 头部 */

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Microsoft YaHei";
}
header{
   width: 100%;
   height: 77px;
   background-color: #FFFFFF; 
   box-shadow: 0 0 5px #cecfcf inset;

}
.head{
    position: relative;
    width: 1000px;
    height: 75px;
    /* background-color:pink; */
    margin: 0 auto;
    
}
.head img{
   float: left;
   margin-top: 12px;
}
.head ul{
    float: left;
    margin-left: 60px;
    /* width: 340px; */
    height: 22px;
}

.head ul li{
    list-style: none;
    display: inline-block;
    line-height: 90px;
    padding:0 5px;
    font-size: 20px;
    padding:0 20px;
   
}
.head ul li a{
    text-decoration: none;
    color: black;
}
.head ul li:hover a{
    color:red;
}


#search{
   position: absolute;
   top: 12px;
   right:90px;

}
#register{
    position: absolute;
    top:21px;
    right:0px;
    width: 50px;
    height: 30px;
    font-size: 16px;
    text-decoration: none;
    border: 1px red solid;
    color: red;
    transition: all 0.15s linear;
    text-align: center;
    border-radius: 3px;
    line-height: 30px;
}
/* 底部 脚注 */
footer{
    position: relative;
    width: 100%;
    height: 360px;
    background-color: #505050;
}
footer section{
    width: 1000px;
    height: 305px;
    /* background-color: pink; */
    position: absolute;
    top: 40px;
    left: 175px;
}
footer section:after{
    content: "";
    clear: both;
    display: block;
}

footer section .footnote{
    height: 205px;
    width: 1000px;
    /* background-color: red; */
}

footer section .footnote .code{
    width: 160px;
    height: 100%;
}
.code{
    float: left;
}
.one{
    float: left;
    margin-left: 20px;
}
.one p{
  font-size: 13px;
  color:#a3a3a3;
}
.one p:nth-of-type(2){
    margin-top: 28px;
}
.one p:nth-of-type(1){
    margin-top: 20px;
}
.two{
     font-size: 13px;
     color:#a3a3a3;
     margin-left: 20px;
     float: left;
}
.two p:nth-child(1){
    color: white;
    font-size: 16px;
 
}
.two p:nth-child(2){
    margin-top: 20px;
}
.three{
    width: 162px;
    height: 205px;
    font-size: 13px;
    float: left;
    margin-left: 20px;
       
}
.three p:first-child{
    color: white;
    font-size: 16px; 
}
.three p:nth-of-type(2){
    color: #a3a3a3;
    margin: 17px 0;
    line-height: 20px;
}
.three p:nth-of-type(3){
   position: absolute;
   top:34px ;
   left: 520px; 
   color: #a3a3a3;
   line-height: 28px;
   
}
.four p:first-child{
    color:white;
    
}
.four p:nth-of-type(2){
    color: #a3a3a3;
    font-size: 13px;
    margin-top: 16px;
    line-height: 20px;
}
.five{
    width: 200px;
    height: 125px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.five p:first-child{
    color: white;
    font-size: 16px;
}
.five p:nth-of-type(2){
    color: #a3a3a3;
    margin-top: 16px;
    font-size: 13px;
    line-height: 20px;
}
.six{
    margin-top: 65px;
    margin-left: 420px;
    font-size: 13px;
    color: #a3a3a3;
}
.seven{
    width: 50px;
    height: 50px;
    background-color: white;
    opacity: 0.8;
    margin-left: 1050px;
    margin-top: -45px;
    border-radius:5px; 
    text-align: center;
  
}
.seven img{
  margin-top: 12px;

}
